<div class="card">
	<%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
	<p class="card-text">
		<span><%= link_to portfolio_item.title, port_folio_show_path(portfolio_item) %></span><%= portfolio_item.subtitle %>
	</p>
</div>

<%#= link_to "Edit", edit_port_folio_path(portfolio_item) if logged_in?(:site_admin) %>
<%#= link_to 'Destroy', port_folio_path(portfolio_item), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>