<div class="comment-card">
	<div class="card">
		<div class="card-block">
			<div class="row">
				<div class="col-sm-1">
					
				</div>
				<div class="col-sm-11 comment-content-div">
					<%= comment.content%>	
				</div>
			</div>
		</div>
	</div>		
</div>