<div class="app-card-container">
	<div class="card">

		<h1>Let me know if you would like to work together.</h1>
		<hr>
		<div class="row">
			<div class="col-md-6">	
				<h3> Office Address : </h3>
				<p>	Flat no. 123, street name, area name, city name, country </p>
				<hr>
				<h3> Cell No : </h3>
				<p> <%= number_to_phone( "5343453534") %> </p>
				<hr>
				<h3> Email Me : </h3>
				<p> <a href="mailto:sample@test.com?subject=Portfolio" "email me"> Click here </a> </p>
			</div>
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.378291900813!2d77.54917131471359!3d13.011565217520815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d7817aa5c9d%3A0x7f2cdf59845c03d3!2sIskcon+Temple!5e0!3m2!1sen!2sin!4v1504536078643" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>		
